* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  margin: 30px auto;
  color: rgb(255, 255, 255);
  text-align: center;
  min-width: 630px;
}
.container {
  position: absolute;
}
.wrapper img {
  background-size: cover;
}
h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2.6em;
  text-transform: uppercase;
  text-shadow: -1px 3px 0px black;
}
.timer {
  margin-top: 423px;
  margin-left: 137px;
  color: black;
  background-color: green;
  width: 315px;
  height: 80px;
  font-weight: 600;
  font-size: 2.9em;
  rotate: 1deg;
}
#mins,
#seconds,
#tens {
  padding: 20px;
}
button {
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}
.button {
  margin-top: 200px;
}
#button-start {
  background-color: rgb(3, 88, 3);
}
#button-stop {
  background-color: rgb(7, 7, 7);
}
#button-reset {
  background-color: rgb(236, 65, 65);
}
